<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MeesevaMobileWebserviceSoap"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="MeesevaMobileWebserviceSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://staging.meeseva.gov.in/MeesevaMobileWebservice/MeesevaMobileWebservice.asmx" binding="basicHttpBinding" bindingConfiguration="MeesevaMobileWebserviceSoap" contract="MesevaService.MeesevaMobileWebserviceSoap" name="MeesevaMobileWebserviceSoap"/>
            <endpoint address="http://staging.meeseva.gov.in/MeesevaMobileWebservice/MeesevaMobileWebservice.asmx" binding="customBinding" bindingConfiguration="MeesevaMobileWebserviceSoap12" contract="MesevaService.MeesevaMobileWebserviceSoap" name="MeesevaMobileWebserviceSoap12"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
