<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-SMSAPI-20161227095554;Integrated Security=SSPI"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="DEFAULT_CONNECTION_LIMIT" value="5"/>
    <add key="REQ_TIMEOUT" value="20000"/>
    <add key="SERVICE_XML_PATH" value="D:\Applications\TS\MSDGAPI\SMSAPI\xmls\"/>
    <add key="CLIENT_IP" value="10.0.25.164"/>
    <add key="CONTROL_API_URL" value="http://10.0.10.136/gotapi/api/Common/Details"/>
    <add key="GENERAL_HELP_MSG" value="Welcome to Government of Telangana's T App Folio. Send correct keyword to 14406 for service of choice-       HMWSSB for water bill       For postpaid mobile bills:         AIRTEL for Airtel         IDEA for Idea         TTL for Tata          BSNLM for BSNL          RELC for Reliance          VODF for Vodafone       For Landline bills send,         AIRTELL for Airtel         TTLL for Tata         BSNLL for BSNL        RTA for RTA Services       ACT for ACT Internet       To view T&amp;C and Privacy Policy, visit https://www.mgov.telangana.gov.in"/>
    <add key="RTA_HELP_MSG" value="Welcome to Government of Telangana's T App Folio. Send correct syntax to 14406 for service of choice-         RTAPAY for RTA Fee payments         RTALT for RTA Life tax payment         RTALL for RTA Learner's license payment         To view T&amp;C and Privacy Policy, visit https://www.mgov.telangana.gov.in"/>
    <add key="HMWSSB_SMS_MSG" value="CAN Number : !CANNUMBER! ; Amount Due: INR !AMOUNT!; Payment mode: T-Wallet. You must have T-Wallet account with sufficient funds. Min amount- INR 10. To generate OTP, send TWALLET&lt;space&gt;OTP&lt;space&gt;T-wallet number to 14406. Eg. TWALLET OTP 9999999999. If you have OTP, send HMWSSB&lt;space&gt;CAN number&lt;space&gt;T-Wallet Mob No.&lt;space&gt;OTP to 14406. Eg. HMWSSB 1234567890 8888888888 111111."/>
    <add key="ACT_SMS_MSG" value="Bill Amount: Rs !AMOUNT!. Payment mode: T-Wallet. You must have T-Wallet account with sufficient funds. To generate OTP, send TWALLET&lt;space&gt;OTP&lt;space&gt;T-wallet number to 14406. Eg. TWALLET OTP 9999999999. If you have OTP, send ACT&lt;space&gt;ACT account mobile number&lt;space&gt;T-Wallet Mob No.&lt;space&gt;OTP to 14406. Eg. ACT 9999999999 8888888888 111111."/>
    <add key="RTA_LT_SMS_MSG" value="Dear !CONSUMERNAME!, your RTA LifeTax Details are: appno:!APPNO!, transaction date:!TRANSDATE!, chasis no:!CHASISNO!, registration at:!REGAT!, tax amount:!TAXAMOUNT!,hpa fee:!HPAFEE!, tr fee:!TRFEE!, service fee:!SERVICEFEE!, registration fee:!REGFEE!, postal fee:!POSTALFEE!, total amount:!TOTALAMOUNT!. To continue please send RTALT&lt;space&gt;your Reference Number&lt;space&gt;OTP to 562630125  "/>
    <add key="EXCEPTION_MSG" value="Unable to process your request"/>
    <add key="TSGOV" value="Welcome to TS mobile one services. to know you water bill details ,please send sms HMWSS CANno to 56263."/>
    <add key="HMWSSB_CANNO_MIN_LENGTH" value="9"/>
    <add key="HMWSSB_CANNO_MAX_LENGTH" value="10"/>
    <add key="MIN_ALLOWED_AMOUNT" value="10"/>
    <add key="MAX_ALLOWED_AMOUNT" value="20000"/>
    <add key="PAYMENT_SUCCESS_MSG" value="Your payment of Rs.!AMOUNT! for !SERVICE! Bill payment is successful. Thank you for using T App Folio."/>
    <add key="PAYMENT_FAIL_MSG" value="Sorry,your payment failed.Please try again."/>
    <add key="INVALID_BILL_AMOUNT_MSG" value="Your bill amount is !AMOUNT!."/>
    <add key="PARTIAL_PAY_NOTALLOWED_DEPTS" value="ACT,RTA,HMWSSB"/>
    <add key="PARTIAL_AMOUNT_ERROR_MSG" value="Partial payment not allowed.Your actual bill amount is !BILLAMOUNT!."/>
    <add key="INCORRECT_SYNTAX_MSG" value="Seems like you have not sent the request correctly.Please send the request again."/>
    <add key="INVALID_NUMBER" value="Please cross check the number and send the request again."/>
    <add key="INVALID_MMID_OTP" value="Please check the MMID and corresponding OTP."/>
    <add key="OTP_GENERATION_SUCCESS" value="OTP Generated successfully and sent to your Twallet linked mobile number."/>
    <add key="OTP_GENERATION_FAIL" value="OTP Generation failed.Please try again after sometime."/>
    <add key="INVALID_TWALLET_MOBNO" value="Please check the Twallet mobile number."/>
    <add key="INVALID_MIN_AMOUNT" value="Amount should not be less than 10/-"/>
    <add key="INVALID_MAX_AMOUNT" value="Amount should not be greater than 20000/-"/>
    <add key="HMWSSB_HELP_MSG" value="To view amount send HMWSSB&lt;space&gt;CAN Number to 14406. Payment mode: T-Wallet. You must have T-Wallet account with sufficient funds. Min amount- INR 10. To generate OTP, send TWALLET&lt;space&gt;OTP&lt;space&gt;T-wallet number to 14406. Eg. TWALLET OTP 9999999999. If you have OTP, send HMWSSB&lt;space&gt;CAN number&lt;space&gt;T-Wallet Mob No.&lt;space&gt;OTP to 14406. Eg. HMWSSB 1234567890 8888888888 111111."/>
    <add key="VODAFONE_HELP_MSG" value="Payment mode: T-Wallet. You must have T-Wallet account with sufficient funds. Min amount- INR 10. To generate OTP, send TWALLET&lt;space&gt;OTP&lt;space&gt;T-wallet number to 14406. Eg. TWALLET OTP 9999999999. If you have OTP, send VODF&lt;space&gt;Vodafone postpaid number&lt;space&gt;Amount&lt;space&gt;T-Wallet Mob No.&lt;space&gt;OTP to 14406. Eg. VODF 9999999999 123 8888888888 111111"/>
    <add key="RELIANCE_HELP_MSG" value="Payment mode: T-Wallet. You must have T-Wallet account with sufficient funds. Min amount- INR 10. To generate OTP, send TWALLET&lt;space&gt;OTP&lt;space&gt;T-wallet number to 14406. Eg. TWALLET OTP 9999999999. If you have OTP, send RELCM&lt;space&gt;Reliance postpaid number&lt;space&gt;Amount&lt;space&gt;T-Wallet Mob No.&lt;space&gt;OTP to 14406. Eg. RELCM 9999999999 123 8888888888 111111"/>
    <add key="ACT_HELP_MSG" value="Pay ACT Internet Bill. To know due amount, send ACT&lt;space&gt;ACT Account Mobile Number to 14406. For payment, payment mode: T-Wallet. You must have T-Wallet account with sufficient funds. To generate OTP, send TWALLET&lt;space&gt;OTP&lt;space&gt;T-wallet number to 14406. Eg. TWALLET OTP 9999999999. If you have OTP, send ACT&lt;space&gt;ACT account mobile number&lt;space&gt;T-Wallet Mob No.&lt;space&gt;OTP to 14406. Eg. ACT 9999999999 8888888888 111111"/>
    <add key="AIRTEL_POSTPAID_HELP_MSG" value="Payment mode: T-Wallet. You must have T-Wallet account with sufficient funds. Min amount- INR 10. To generate OTP, send TWALLET&lt;space&gt;OTP&lt;space&gt;T-wallet number to 14406. Eg. TWALLET OTP 9999999999. If you have OTP, send AIRTEL&lt;space&gt;Airtel postpaid number&lt;space&gt;Amount&lt;space&gt;T-Wallet Mob No.&lt;space&gt;OTP to 14406. Eg. AIRTEL 9999999999 123 8888888888 111111."/>
    <add key="IDEA_POSTPAID_HELP_MSG" value="Payment mode: T-Wallet. You must have T-Wallet account with sufficient funds. Min amount- INR 10. To generate OTP, send TWALLET&lt;space&gt;OTP&lt;space&gt;T-wallet number to 14406. Eg. TWALLET OTP 9999999999. If you have OTP, send IDEA&lt;space&gt;Idea postpaid number&lt;space&gt;Amount&lt;space&gt;T-Wallet Mob No.&lt;space&gt;OTP to 14406. Eg. IDEA 9999999999 123 8888888888 111111."/>
    <add key="TATA_POSTPAID_HELP_MSG" value="Payment mode: T-Wallet. You must have T-Wallet account with sufficient funds. Min amount- INR 10. To generate OTP, send TWALLET&lt;space&gt;OTP&lt;space&gt;T-wallet number to 14406. Eg. TWALLET OTP 9999999999. If you have OTP, send TTL&lt;space&gt;Tata postpaid number&lt;space&gt;Amount&lt;space&gt;T-Wallet Mob No.&lt;space&gt;OTP to 14406. Eg. TTL 9999999999 123 8888888888 111111."/>
    <add key="BSNL_POSTAPID_HELP_MSG" value="Payment mode: T-Wallet. You must have T-Wallet account with sufficient funds. Min amount- INR 10. To generate OTP, send TWALLET&lt;space&gt;OTP&lt;space&gt;T-wallet number to 14406. Eg. TWALLET OTP 9999999999. If you have OTP, send BSNLM&lt;space&gt;BSNL postpaid number&lt;space&gt;Amount&lt;space&gt;T-Wallet Mob No.&lt;space&gt;OTP to 14406. Eg. BSNLM 9999999999 123 8888888888 111111."/>
    <add key="AIRTEL_LANDLINE_HELP_MSG" value="Payment mode: T-Wallet. You must have T-Wallet account with sufficient funds. Min amount- INR 10. To generate OTP, send TWALLET&lt;space&gt;OTP&lt;space&gt;T-wallet number to 14406. Eg. TWALLET OTP 9999999999. If you have OTP, send AIRTELL&lt;space&gt;Airtel landline number with STD code&lt;space&gt;Amount&lt;space&gt;T-Wallet Mob No.&lt;space&gt;OTP to 14406. Eg. AIRTELL 040 123 8888888888 111111."/>
    <add key="TATA_LANDLINE_HELP_MSG" value="Payment mode: T-Wallet. You must have T-Wallet account with sufficient funds. Min amount- INR 10. To generate OTP, send TWALLET&lt;space&gt;OTP&lt;space&gt;T-wallet number to 14406. Eg. TWALLET OTP 9999999999. If you have OTP, send TTLL&lt;space&gt;Tatatele landline number with STD code&lt;space&gt;Amount&lt;space&gt;T-Wallet Mob No.&lt;space&gt;OTP to 14406. Eg. TTLL 040 123 8888888888 111111."/>
    <add key="BSNL_LANDLINE_HELP_MSG" value="Payment mode: T-Wallet. You must have T-Wallet account with sufficient funds. Min amount- INR 10. To generate OTP, send TWALLET&lt;space&gt;OTP&lt;space&gt;T-wallet number to 14406. Eg. TWALLET OTP 9999999999. If you have OTP, send BSNLL&lt;space&gt;BSNL landline number with STD code&lt;space&gt;Amount&lt;space&gt;T-Wallet Mob No.&lt;space&gt;OTP to 14406. Eg. BSNLL 040 123 8888888888 111111."/>
    <add key="RTAPAY_SMS_MSG" value="Name:!NAME!, Slot Date:!SLOTDATE!, Slot Time:!SLOTTIME!, Department Transaction Number:!DEPTTRANSNO!, Total Amount:!TOTALAMOUNT!. Payment mode- T-Wallet. To generate OTP, send TWALLET&lt;space&gt;OTP&lt;space&gt;T-wallet number to 14406. Eg. TWALLET OTP 9999999999. If you have OTP, send RTAPAY&lt;space&gt;Acknowledgement Number&lt;space&gt;T-Wallet Mob No.&lt;space&gt;OTP to 14406."/>
    <add key="RTALL_SMS_MSG" value="Name:!NAME!, Slot Date:!SLOTDATE!, Slot Time:!SLOTTIME!, Total Amount:!TOTALAMOUNT!. Payment mode- T-Wallet. To generate OTP, send TWALLET&lt;space&gt;OTP&lt;space&gt;T-wallet number to 14406. Eg. TWALLET OTP 9999999999. If you have OTP, send RTALL&lt;space&gt;Acknowledgement Number&lt;space&gt;T-Wallet Mob No.&lt;space&gt;OTP to 14406."/>
    <add key="RTALT_SMS_MSG" value="Name:!NAME!, Invoice Date:!INVDATE!, Total Amount:!TOTALAMOUNT!. Payment mode- T-Wallet. To generate OTP, send TWALLET&lt;space&gt;OTP&lt;space&gt;T-wallet number to 14406. Eg. TWALLET OTP 9999999999. If you have OTP, send RTALT&lt;space&gt;Acknowledgement Number&lt;space&gt;T-Wallet Mob No.&lt;space&gt;OTP to 14406."/>
    <add key="APPLICATIONSTATUS_SMS_MSG" value="Application Status: !APPSTATUS!. Thank you for using T App Folio."/>
    <add key="APPLICATIONSTATUS_HELP_MSG" value="To know your application status send STATUS&lt;space&gt; Your Application Number to 14406. For payment, payment mode: T-Wallet."/>
    <add key="HATHWAY_HELP_MSG" value="Pay HATHWAY Internet Bill. To know due amount, send HATHWAY&lt;space&gt;HATHWAY Account Number to 14406. For payment, payment mode: T-Wallet. You must have T-Wallet account with sufficient funds. To generate OTP, send TWALLET&lt;space&gt;OTP&lt;space&gt;T-wallet number to 14406. Eg. TWALLET OTP 9999999999. If you have OTP, send HATHWAY&lt;space&gt;HATHWAY account number&lt;space&gt;T-Wallet Mob No.&lt;space&gt;OTP to 14406. Eg. HATHWAY 9999999999 8888888888 111111"/>
    <add key="HATHWAY_SMS_MSG" value="Bill Amount: Rs !AMOUNT!. Payment mode: T-Wallet. You must have T-Wallet account with sufficient funds. To generate OTP, send TWALLET&lt;space&gt;OTP&lt;space&gt;T-wallet number to 14406. Eg. TWALLET OTP 9999999999. If you have OTP, send HATHWAY&lt;space&gt;HATHWAY account number&lt;space&gt;T-Wallet Mob No.&lt;space&gt;OTP to 14406. Eg. HATHWAY 9999999999 8888888888 111111."/>
    <!--TWALLET-->
    <add key="TWALLET_PAYMENT_URL" value="http://10.0.0.76:9085/paymentgateway/makepayment"/>
    <add key="TWALLET_POSTDATA" value="card_type=03&amp;vpc_MerchTxnRef=!TRANSID!&amp;action=!ACTION!&amp;service=!SERVICE!&amp;desc=!DESC!&amp;channel=SMS&amp;CUST_MOBILE_NUMBER=!CUSTMOBNO!&amp;CUST_OTP=!CUSTOTP!&amp;vpc_Amount=!AMOUNT!&amp;imipay_ack=!IMIPAYACK!"/>
    <add key="TWALLET_OTP_GENERATE_URL" value="http://10.0.0.76:9085/paymentgateway/generateotp"/>
    <add key="TWALLET_OTP_GENERATE_POSTDATA" value="vpc_Amount=0&amp;mobilenum=!TWALLETMOBNO!&amp;otptype=GenerateOTP"/>
    <!--END::TWALLET-->
    <!--ERROR LOG-->
    <add key="ERRORLOG" value="D:\ErrorLogs\SMSAPI\"/>
    <add key="ERRORLOG_INFO" value="Y"/>
    <add key="ERRORLOG_ERROR" value="Y"/>
    <add key="ERRORLOG_DEBUG" value="Y"/>
    <add key="ERRORLOG_AUDIT" value="Y"/>
    <add key="ERRORLOG_TYPE" value="NONE"/>
    <!--END:: ERROR LOG-->
    <!--commented-->
    <!--<add key="IMPS_PAYMENT_URL" value="http://10.0.0.76:9085/paymentgateway/makepayment"/>
    <add key="IMPS_POSTDATA" value="card_type=03&amp;PAYMENT_REF_NO=!TRANSID!&amp;action=!ACTION!&amp;service=!SERVICE!&amp;channel=SMS&amp;CUST_MMID=!MMID!&amp;CUST_MOBILE_NUMBER=!CUSTMOBNO!&amp;CUST_OTP=!CUSTOTP!&amp;AMOUNT=!AMOUNT!&amp;imipay_ack=!IMIPAYACK!"/>
    <add key="AIRTEL_SMS_MSG" value="Dear !CONSUMERNAME!, your bill amount is !AMOUNT! of account no !ACOUNTNO! for Mobile no !NUMBER!.Bill payment will happen through IMPS. To continue please send AIRTEL&lt;space&gt;your mobile no&lt;space&gt;amount&lt;space&gt;your MMID&lt;space&gt;OTP to 562630125" />
    <add key="AIRTEL_LL_SMS_MSG" value="Dear !CONSUMERNAME!, your bill amount is !AMOUNT! of account no !ACOUNTNO! for landline no !NUMBER!.Bill payment will happen through IMPS. To continue please send AIRTELLL&lt;space&gt;your landline no&lt;space&gt;amount&lt;space&gt;your MMID&lt;space&gt;OTP to 562630125" />
    <add key="IDEA_SMS_MSG" value="Dear !CONSUMERNAME!, your bill amount is !AMOUNT! of account no !ACOUNTNO! for Mobile no !NUMBER! and address is !ADDRESS1!, !ADDRESS2! !ADDRESS3!.Bill payment will happen through IMPS.To continue please send IDEA&lt;space&gt;your mobile no&lt;space&gt;amount&lt;space&gt;your MMID&lt;space&gt;OTP to 562630125" />
    <add key="TTL_SMS_MSG" value="Dear !CONSUMERNAME!, your bill amount is !AMOUNT! of account no !ACOUNTNO! for Mobile no !NUMBER!.Bill payment will happen through IMPS. To continue please send TTL&lt;space&gt;your mobile no&lt;space&gt;amount&lt;space&gt;your MMID&lt;space&gt;OTP to 562630125" />
    <add key="BSNL_SMS_MSG" value="Dear !CONSUMERNAME!, your bill amount is !AMOUNT! of account no !ACOUNTNO! for Mobile no !NUMBER!.Bill payment will happen through IMPS. To continue please send BSNL&lt;space&gt;your mobile no&lt;space&gt;amount&lt;space&gt;your MMID&lt;space&gt;OTP to 562630125" />
    <add key="BSNL_LL_SMS_MSG" value="Dear !CONSUMERNAME!, your bill amount is !AMOUNT! of account no !ACOUNTNO! for landline no !NUMBER!.Bill payment will happen through IMPS. To continue please send BSNLLL&lt;space&gt;your landline no&lt;space&gt;amount&lt;space&gt;your MMID&lt;space&gt;OTP to 562630125" />-->
    <!--end::commented-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <authentication mode="None"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>