<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DSN_GOT" connectionString="server=10.0.0.34;database=GOT;uid=sa;password=sql**123;"/>
  </connectionStrings>
  <appSettings>
    <add key="MEESEVA_USERID" value="MEESEVA"/>
    <add key="MEESEVA_PASSWORD" value="MEESEVA"/>
    <add key="ENABLE_CUSTOM_DATE" value="N"/>
    <add key="CUSTOM_FROM_DATE" value="23-JUN-2017"/>
    <add key="CUSTOM_TO_DATE" value="24-JUN-2017"/>
    <add key="SERVICE_XML_PATH" value="D:\Applications\GOT\GOTAPI\GOTAPI\xml\meseva"/>
    <add key="SMS_TEXT" value="Dear user, your payment with TransID: !TRANSID! for application number: !APPNO! has been approved. "/>

    <add key="ENABLELOG" value="Y"/>
    <add key="ERRORLOG_PATH" value="D:\Errorlogs\ApplicationStatus\"/>
    <!--SMS SETTINGS-->
    <!--STG API URL::http://staging.meeseva.gov.in/MeesevaMobileWebservice/MeesevaMobileWebservice.asmx-->
    <add key="QUEUE_ISTRANSACTIONAL" value="Y"/>
    <add key="QUEUE_PUSH" value=".\private$\emailsmspush"/>
    <add key="QUEUE_EMAILSMS_PUSH" value=".\private$\emailsmspush"/>
    <add key="PUSH_TYPE" value="Q"/>
    <add key="SENDSMS_URL" value="http://msdgweb.mgov.gov.in/esms/sendsmsrequest"/>
    <!--<add key="SENDSMS_BODY"           value="username={uid}&amp;password={pwd}&amp;smsservicetype=singlemsg&amp;content={msg}&amp;mobileno={mobile}&amp;senderid={senderid}" />-->
    <add key="SMS_SENDERID" value="MESEVA"/>
    <add key="SENDSMS_UID" value="MEESEVA"/>
    <add key="SENDSMS_PWD" value="1qaz!QAZ"/>
    <!--END::SMS SETTINGS-->
    <!--MAIL SETTINGS-->
    <add key="MAIL_4M" value="alerts@imimobile.com"/>
    <add key="MAIL_USR" value="support"/>
    <add key="MAIL_PWD" value="sup@imi123"/>
    <add key="SMTPSERVER" value="203.199.178.220"/>
    <add key="MAIL_TO" value="anilkumar.ko@imimobile.com"/>
    <add key="MAIL_CC" value=""/>
    <add key="MAIL_BCC" value=""/>
    <add key="MAIL_SUB" value="T-APP EXCEPTION ALERT| MESEVA APPLICATION STATUS SMS PUSH"/>
    <add key="MAIL_BODY" value="The following exception occured while fetching the application status."/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MeesevaMobileWebserviceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ts.meeseva.telangana.gov.in/MeesevaMobileWebservice/MeesevaMobileWebservice.asmx" 
                 binding="basicHttpBinding" bindingConfiguration="MeesevaMobileWebserviceSoap" 
                contract="GOT.MEESEVA.MeesevaMobileWebserviceSoap" name="MeesevaMobileWebserviceSoap"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
