<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--<add key="appkey" value ="4BTKPQkZsEECmwiXeQH04krgG"/>
    <add key ="appid" value ="TGMSV"/>-->
    <add key="ENABLELOG" value="Y"/>
    <add key="RC4_KEY" value="odpimi@123"/>
    <!-- Error log -->
    <add key="ERRORLOG" value="D:\Errorlogs\GOTAPI\DIGILOCKER\"/>
    <!-- Y - Disable the Loging Debug Logs, N - Enable the Loging the Debug Logs -->
    <add key="DISABLELOG" value="N"/>
    <add key="LOGING_MODE" value="D"/>
    <add key="appkey" value="9IjrUvK3frFxTf7HOI3N"/>
    <add key="appid" value="TAPPDEV"/>
    <!--<add key="CLIENTID" value ="EMsEX5fFDBz8w2SBmcAA"/>-->
    <!--<add key="CLIENTID" value="QQPV8SSS" />-->
    <!--This is Staging clientid-->
    <add key="CLIENTID" value="Q9WBPJVB"/>
    <!--This is Live clientid-->
    <add key="CLIENTSECRET" value="O9r067sP1bGiYtSxjx7S"/>
    <add key="DIGILOCKER_DOWNLOAD_PATH" value="D:\DGDownloads"/>
    <add key="DEFAULT_UPLOAD_PATH" value="D:\"/>
    <add key="DG_SIGNIN_URL" value="https://devservices.digitallocker.gov.in/index.php?req_id=!REQUESTER_ID!&amp;h_key=!HASH_KEY!&amp;time_st=!TIME_ST!&amp;service=fetch&amp;parent=!HOSTNAME!"/>
    <add key="DG_HOST_URL" value="https://mgov.telangana.gov.in/DigiLocker/DigiLockertest.aspx"/>
    <!--Using Authorized APIs STAGING-->
    <!--<add key="API_GETAUTHTOKEN_CODE" value="https://developers.digitallocker.gov.in/public/oauth2/1/authorize?response_type=code&amp;client_id=!CLIENTID!&amp;redirect_uri=https://mgov.telangana.gov.in/DigiLocker/DigiLockerUpload.aspx&amp;state=json" />
    <add key="API_GETAUTHTOKEN_TOKEN" value="https://developers.digitallocker.gov.in/public/oauth2/1/authorize?response_type=token&amp;client_id=!CLIENTID!&amp;redirect_uri=https://mgov.telangana.gov.in/DigiLocker/DigiLockerUpload.aspx&amp;state=json" />
    <add key="API_GETFILES" value="https://developers.digitallocker.gov.in/public/oauth2/1/files" />
    <add key="API_GETFILES_AUTHHEADER" value="Bearer !AUTHTOKEN!" />
    <add key="API_GETISSUEDFILES" value="https://developers.digitallocker.gov.in/public/oauth2/1/files/issued" />
    <add key="API_GETPDFFILES" value="https://developers.digitallocker.gov.in/public/oauth2/1/file" />-->
    <!--Using Authorized APIs STAGING /-->
    <!--Using Authorized APIs LIVE-->
    <add key="API_GETAUTHTOKEN_CODE" value="https://api.digitallocker.gov.in/public/oauth2/1/authorize?response_type=code&amp;client_id=!CLIENTID!&amp;redirect_uri=https://mgov.telangana.gov.in/DigiLocker/DigiLockerUpload.aspx&amp;state=json"/>
    <add key="API_GETAUTHTOKEN_TOKEN" value="https://api.digitallocker.gov.in/public/oauth2/1/authorize?response_type=token&amp;client_id=!CLIENTID!&amp;redirect_uri=https://mgov.telangana.gov.in/DigiLocker/DigiLockerUpload.aspx&amp;state=json"/>
    <add key="API_GETFILES" value="https://api.digitallocker.gov.in/public/oauth2/1/files"/>
    <add key="API_GETFILES_AUTHHEADER" value="Bearer !AUTHTOKEN!"/>
    <add key="API_GETISSUEDFILES" value="https://api.digitallocker.gov.in/public/oauth2/2/files/issued"/>
    <add key="API_GETPDFFILES" value="https://api.digitallocker.gov.in/public/oauth2/1/file"/>
    <!--Using Authorized APIs LIVE /-->
    <add key="API_GET_ACCESS_TOKEN" value="https://api.digitallocker.gov.in/public/oauth2/1/token"/>
    <!--<add key="AUTHORIZATION_VALUE" value="Basic UTlXQlBKVkI6TzlyMDY3c1AxYkdpWXRTeGp4N1M="/>-->
    <add key="TOKEN_REDIRECT_URI" value="https://mgov.telangana.gov.in/DigiLocker/DigiLockerUpload.aspx"/>
    <add key="CONN_TIME_OUT" value="100000"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="false"/>
    </settings>
  </system.net>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>