<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="DSN_GOT" connectionString="server=10.0.0.34;database=GOT;uid=sa;password=sql**123;" />
  </connectionStrings>
  <appSettings>
    <add key="ENABLE_CUSTOM_DATE" value="N"/>
    <add key="CUSTOM_FROM_DATE" value="22-JAN-2018"/>
    <add key="CUSTOM_TO_DATE" value="22-JAN-2018"/>
    <add key="ENABLELOG" value="Y"/>
    <add key="ERRORLOG_PATH" value="D:\Errorlogs\FailedTransUpdate\"/>
    <add key="PAYMENT_TRANS_DATA_FETCH_URL" value="https://mgov.telangana.gov.in/paymentgateway/getrefunddetails?startDate=!STARTDATE!&amp;endDate=!ENDDATE!"/>
    <add key="DEFAULT_CONNECTION_LIMIT" value="5"/>
    <add key="TIMEOUT" value="20000"/>
  </appSettings>
</configuration>
