<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="DB_GOT" providerName="System.Data.SqlClient" connectionString="server=10.0.0.34;database=GOT;uid=sa;password=sql**123;" />
    <add name="DSN_BI" providerName="System.Data.SqlClient" connectionString="server=openhouse.mssql;database=CMS_BI;uid=appuser;password=app@sql;" />
    <add name="DSN_GOT_TRANS" providerName="System.Data.SqlClient" connectionString="server=10.0.0.34;database=GOT_TRANS;uid=sa;password=sql**123;" />
  </connectionStrings>
  <appSettings>
    <!-- Error log -->
    <add key="ERRORLOG" value="D:\Errorlogs\GOT\" />
    <!-- Y - Disable the Loging Debug Logs, N - Enable the Loging the Debug Logs -->
    <add key="DISABLELOG" value="N" />
    <add key="LOGING_MODE" value="D" />
    <add key="CONTROL_API" value="http://10.0.10.136/gotapi/api/Common/Details" />
    <add key="RC4_KEY" value="odpimi@123"/>
    <add key="SESSION_TIMEOUT" value ="30"/>
    
    <!--status keyword-->
    <add key="STATUS_NOT_VIEWED" value="NV"/>
    <add key="STATUS_APPROVED" value="A"/>
    <add key ="STATUS_REJECTED" value="R"/>
  </appSettings>
</configuration>
